# Git related
.git
.gitignore

# Docker related
.dockerignore
Dockerfile
docker-compose*.yml

# Build
**/bin
**/build
**/dist

# IDE files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store

# Go testfiles
**/*_test.go
**/test/
**/*.test

# Debug files
debug

# Temporary files
**/tmp
**/temp

# Log files
**/*.log

# Golang specific
go.work

# We don't need to copy these into Docker since we download them anyway
# in the Docker build using go mod download in the Dockerfiles
**/vendor/

# README and docs
README.md
docs/
**/docs/

# Don't ignore .env files as they're used by the containers
# .env 